.notification-page {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  /* background-color: rgba(0, 19, 37, 0.5); */
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  /* justify-content: end; */
}



.notification-div {
  background: white;
  width: 28%;
  padding: 10px;
  box-sizing: border-box;
  transform: translateX(0);
  /* Set to 0 to show the popup by default */
  transition: transform 0.5s ease;
}



.notification-div.show {
  transform: translateX(0);
}

.notif-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.notification-title {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.notification-title img {
  width: 25px;
  height: 25px;
}

.notification-title span {
  margin: 0px;
  color: #001325;

  /* Medium/16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: -0.192px;
}



.notification-all-unread {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  border-bottom: 1px solid #080808;
  margin-bottom: 10px;
}

.notif-all,
.notif-unread {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 4px solid white;
  color: rgba(0, 19, 37, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.border-highlight {
  border-bottom: 4px solid #610bee;
  color: #610bee;
}

.notif-all:hover,
.notif-unread:hover {
  color: #610bee;
}

.notif-all span,
.notif-unread span {
  margin: 0px;
  /* word-break: break-all; */
}

.mark-read {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
}

.mark-read span {
  margin: 0px;
  cursor: pointer;
  color: #001325;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.mark-read span:hover {
  text-decoration: underline;
}

.notifications {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
}

.notified-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #c4c9cc;
  padding: 12px 5px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 15px;
  /* justify-content: space-between; */
}

.notified-box:hover {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%),
    #5b89ff;
}

.notifi-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  /* width: 15%;

    height: 100%; */
}

.notifi-date {
  display: flex;
  align-items: flex-start;

  text-align: left;
}

.notifi-date span {
  margin: 0px;
}

.notifi-desc {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  width: 100%;
}

.notifi-desc span {
  margin: 0px;
}

.notif-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notif-ticket {
  color: #001325;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.14px;
  /* word-break: break-all; */
  /* border: 1px solid red; */
  width: 75%;
}

.notify-time {
  color: #001325;

  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.notif-sub {
  color: rgba(0, 19, 37, 1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}