.template-page {
  display: flex;
  width: 100%;
}
.template-draging {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.template-dropping {
  width: 100%;
  gap: 20px;
  overflow-y: scroll;
  border: 2px dashed #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: "20px";
  padding: 24px;
  box-sizing: border-box;
  height: 75vh;
}
.template-dropping h3 {
  font-size: 32px;
}
.template-dropping form {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 80vh; 
  gap: 16px;
  overflow-y: scroll; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 30px 90px;
  justify-content: space-between;
}
.form-input-divs,
.form-input-priority {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-input-priority input {
  background-color: white;
  border: 2px solid #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  appearance: none;
}
.form-input-priority input:checked {
  background-color: #01ff9d;
}
.form-input-divs label,
.form-input-priority label {
  width: 100px;
  word-break: break-all;
}
.form-input-divs input {
  /* width: 100%; */
  width: 300px;
  height: 40px;
  padding: 5px;
  border: 2px solid #f0a8d0;
  box-sizing: border-box;
  border-radius: 8px;
  resize: none;
}
.form-input-divs textarea {
  width: 300px;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #f0a8d0;
  border-radius: 8px;
  resize: none;
}

/* form-model */
.form-model {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.save-btn,
.cancel-btn {
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.save, .cancel{
  padding: 5px;
  width: 80px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.save-btn {
  border: 2px solid #00ff9c;
  background: #d4fac3;
}
.cancel-btn {
  background: #ff9090;
  border: 2px solid #c70039;
}
.form-model-div {
  display: flex;
  align-items: center;
}
.form-model-div input {
  padding: 10px 5px;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #f0a8d0;
  width: 250px;
}
.save-task-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.save-task-btn button {
  padding: 10px 20px;
  border: 2px solid #00ff9c;
  background: #d4fac3;
  border-radius: 20px;
  font-size: 14px;
}

/* TASK DETAILS PAGE STYLING */
.details-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  height: 90vh;
}

.details-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  box-sizing: border-box;
}

.details-field-priority {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.details-label-priority {
  font-size: 18px;
}

.details-field-title {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* border-bottom: 2px solid black; */
  width: 100%;
}
.details-field{
  width:100%
}
.details-field-title textarea {
  width: 100%;

  border: 1px solid #edf2f7;
}

.details-value-title {
  width: 100%;
  word-break: break-all;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
}

.details-field-details-div {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: space-between;
}

.details-field-details-div-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding:20px;
  box-sizing:border-box;
}

.details-field-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 30vh;

  overflow-y: scroll;
}

.details-field-comments-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.details-field-comments-cont span {
  background: rgb(234, 233, 233);
  padding: 5px;
  box-sizing: border-box;
  width: 90%;
  word-break: break-all;
}

.sub-tasks-add {
  cursor: pointer;
}

.priority-color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.sub-tasks {
  margin-left: 10px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sub-tasks-head {
  padding: 10px 10px;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-tasks-rows {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 150px;
  overflow-y: scroll;
}

.sub-tasks-rows-cont {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  display: flex;
  padding: 10px 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;

  border-radius: 10px;
}

.sub-tasks-rows-cont:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.sub-tasks-rows-cont span {
  width: 33%;
}

.details-field-details-div-right {
  width: 40%;
  /* height: 200px; */
}

.details-right {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  gap: 10px;
  width: 100%;
  border-radius: 28px;
  height: 85vh;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}

.details-right-cont {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  gap: 10px;
  width: 28%;
}

.details-right-cont-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.details-right-cont-top img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.details-right-top {
  display: flex;
  text-align: left;
  font-size: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.details-right-bottom {
  display: flex;

  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.details-right-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  gap: 10px;
}

.details-right-row span {
  width: 30%;
  font-size: 18px;
}

.details-right-input {
  width: 65%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid red;
}

/* date chart */
/* DateContainer.css */

/* Remove default borders */
.react-calendar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border: none;
  border-radius: 20px;
}

/* Apply border radius and styling to each calendar tile */
.react-calendar__tile {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* Make each tile circular */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.react-calendar__navigation button:focus {
  background-color: transparent !important;
  outline: none;
}

/* Style today's date tile */
.react-calendar__tile--now {
  background-color: #f0f8ff;
  /* Light background for today's date */
}

/* Style the selected date tile */
.react-calendar__tile--active {
  background-color: yellow;
  border-radius: 50%;
}

/* Style task name within tiles */
.task-tile {
  cursor: pointer;
  color: blue;
  text-align: center;
}

/* change logs */
.change-logs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  border-radius: 8px;
  width: 30%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.change-logs-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.change-logs-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.change-logs-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.change-logs-content textarea{
  width: 100%;
  height: 120px;
  resize: none;
  padding: 10px;
  border-radius: 8px;
  /* box-sizing: border-box; */

}
.change-logs-content span {
  width: 45%;
  word-break: break-all;
}
.change-logs-btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}
.change-logs-btns button {
  padding: 10px 5px;
  width: 100px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* activity logs */
.activity-logs {
  position: absolute;
  width: 100%;
  background: inherit;
  display: flex;
  justify-content: flex-end;
  z-index: 100;

  /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}

.activity-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.activity-logs-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
  height: 100vh;
  background: #fff;
  width: 25%;
  margin-right: 8px;
}
.activity-logs-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 50vh;
  /* border: 1px solid red; */
  overflow-y: scroll;
}
.activity-logs-cont-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.activity-logs-cont-div-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.activity-logs-cont-div-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.activity-logs-cont-div-bottom span {
  width: 45%;
  word-break: break-all;
}
