.upper-section {
  display: flex;
  width: 100%;
  text-align: left;
  gap: 25px;
  flex-direction: column;
 
  box-sizing: border-box;
}
.search-new-task {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px 0px 20px;
}
.search-new-task button{
    border-radius: 20px;
    border: 2px solid rgb(240, 8, 240);
    background-color: #fff;
    padding: 10px;
}
.search-new-task button:hover{
    background-color: rgb(248, 101, 248);
    color: #fff;
    border: none;
}
.task-search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  box-sizing: border-box;
  width: 20.4vw;
  height: 45px;
  border-radius: 30px;
  border: 1px solid rgb(240, 8, 240);
  background: #fff;
}
.task-search input{
    width: 100%;
  outline: none;
  border: none;
}
.task-search input::placeholder {
    color: gray;
    font-style: italic;
    font-size: 16px;
}


.task-table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    box-sizing: border-box;
   
}
.task-table-data{
    width: 100%;
}
.task-table-data th,
.task-table-data td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}


.task-table-data thead {
  background-color: #f0f0f0; /* light grey */
}


.task-table-data tbody tr {
  background-color: #fff; /* white background for tbody */
}


.task-table-data tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* alternating row color for better readability */
}


.task-table-data tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer; /* light grey when hovering */
}


.task-table-data th {
  font-weight: bold;
}


.pagination {
  display: flex;
  margin: auto;
  margin-top: 10px;
}


.prev-button,
.next-button {
  cursor: pointer;
  background: none;
  color: #FF7A7A;
  display: flex;
  gap: 8ps;
  align-items: center;
  padding: 10px 20px;
  height: 6vh;
  border: none;
}


.pagination-button {
  border: none;
  height: 6vh;
  width: 2.8vw;
  background: white;
}


.pagination-button.active {
  background-color: #FF7A7A;
  color: #fff;
  border-radius: 5px;
  border: none;
  height: 6vh;
  width: 2.8vw;
}



