.member-settings-page-div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
  width: 300px;
  height: 300px;
  padding: 20px;
  background: white;
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 10px;
}
.cross-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.top-nav-popup-memberPhoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* margin-right: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #610bee;
  color: white;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}
.cross-hover-effect {
  padding: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cross-hover-effect:hover {
  cursor: pointer;
  background: rgb(233, 233, 233);
}
.member-setting-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.member-name-span {
  color: black;
  font-weight: 600;
}
.member-settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  border-radius: 50px;
  padding: 15px;
}
.member-settings-btn:hover {
  border: 1.5px solid #610bee;
}

/* SETTINGS PAGE STYLING */

.setting-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.setting-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.setting-input {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Optional: space between columns */
}
.login-signup-input,.login-signup-input-radio{
  display: flex;
  align-items: center;
  gap: 20px;
}
.login-signup-input span,.login-signup-input-radio span{
  text-align: right;
  width: 100px;
  /* word-break: break-all; */
 
}
.login-signup-input input{
  border-radius: 4px;
  padding: 10px 5px;
  width: 300px;
}
.login-signup-gender{
  display: flex;
  width: 300px;
  align-items: center;
  /* border: 1px solid red; */
}
.setting-navs {
  display: flex;
  gap: 16px;
  padding-left: 32px;
  border-bottom: 1px solid #EDF2F7;
}
.general:hover,
.privacy:hover {
  cursor: pointer;
  box-shadow: 0px -3px 0px 0px #FF7A7A inset;
}

.settingActive {
  cursor: pointer;
  box-shadow: 0px -3px 0px 0px #FF7A7A inset;
}
.setting-save-btn button{
  padding:  10px;
  width: 150px;
  box-sizing: border-box;
  /* background: white; */
  border: none;
  border-radius: 20px;
  
}